@page "/keepalive/{recordId}"
@inject KeepaliveContext context

<h1>Keepalive</h1>
@if(RecordFound)
{
    <body>Checked @RecordId.</body>
}
else
{
    <body>@RecordId not found.</body>
}

@code {
    [Parameter]
    public required string RecordId { get; set; }

    public bool RecordFound { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var record = context.KeepaliveRecords.Where(x => x.Id == Guid.Parse(RecordId)).FirstOrDefault();
        if (record is null)
            RecordFound = false;
        else
        {
            record.CheckTimestamp = DateTimeOffset.UtcNow.ToUnixTimeSeconds();
            context.KeepaliveRecords.Update(record);
            await context.SaveChangesAsync();
            RecordFound = true;
        }
    }
}