@inject ServiceConfig serviceConfig
@inject ILogger<PasswordProtection> logger

@if (!isAuthenticated)
{
    <div>
        <label for="password_input">Password:</label>
        <input type="password" id="password_input" name="password_input" @bind="enteredPassword" />
        <button type="button" name="password_button" @onclick="CheckPassword">Submit</button>
        <p>@loginMessage</p>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    private string enteredPassword = string.Empty;
    private bool isAuthenticated = false;
    private string loginMessage = string.Empty;
    private void CheckPassword(MouseEventArgs e)
    {
        isAuthenticated = enteredPassword == serviceConfig.Password;
        if (!isAuthenticated)
        {
            loginMessage = "Wrong password.";
        }
    }
}